In [58]:
import pandas as pd
import sqlite3

DB_PATH = "../../db/prophetic.db"
TABLE_NAMES = [
    "lacan_book5",
    "steiner_occult",
    "mill_liberty",
    "hegel_mind",
    "marcus_meditations",
]
TABLE = TABLE_NAMES[5]

In [59]:
with sqlite3.connect(DB_PATH) as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

tables

[('book5-chunked88',),
 ('lacan_book5',),
 ('steiner_occult',),
 ('mill_liberty',),
 ('hegel_mind',),
 ('marcus_meditations',)]

In [60]:

df = pd.read_sql(f"""SELECT * FROM {TABLE}""", con=sqlite3.connect(DB_PATH))
df.head()

IndexError: list index out of range

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book              416 non-null    category
 1   sentence          416 non-null    int64
 2   chapter           0 non-null      object
 3   sentence_chapter  0 non-null      object
 4   content           416 non-null    object
 5   embedding         416 non-null    object
 6   author            416 non-null    category
dtypes: category(2), int64(1), object(4)
memory usage: 17.4+ KB

In [62]:
df.memory_usage(index=False, deep=True)

book                     592
sentence                3328
chapter                 9984
sentence_chapter        9984
content               387147
embedding           14254651
author                   596
dtype: int64

In [63]:
# change data type to category
df["book"] = df["book"].astype("category")
df["author"] = df["author"].astype("category")
df.memory_usage(index=False, deep=True)

book                     592
sentence                3328
chapter                 9984
sentence_chapter        9984
content               387147
embedding           14254651
author                   596
dtype: int64

In [64]:
# save
# df.to_feather(f"../../db/{TABLE}.feather")